.bundle/
log/*.log
pkg/
test/dummy/db/*.sqlite3
test/dummy/db/*.sqlite3-journal
test/dummy/db/*.sqlite3-*
test/dummy/log/*.log
test/dummy/storage/
test/dummy/tmp/
test/dummy/public/packs
node_modules
test/javascript/compiled/
app/assets/javascripts/arara.js
tmp/
src/
