<div class="flex flex-wrap">
  <% 0.upto(24) do |n| %>
    <div class="my-4 mx-8">
      <%= render(Arara::ElevationComponent, depth: n) do %>
        <div class="w-6 h-6 p-20 flex justify-center items-center"><%= n %>dp</div>
      <% end %>
    </div>
  <% end %>
</div>
