<div>
  <h3 class="mdc-typography--subtitle1">Standard Image List with Text Protection</h3>
  <ul class="mdc-image-list standard-image-list mdc-image-list--with-text-protection">
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/1.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/3.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/4.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/5.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/6.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/7.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/8.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/9.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/10.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/11.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/12.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/13.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/14.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <div class="mdc-image-list__image-aspect-container"><img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/15.jpg" alt="Text label"></div>
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
  </ul>
  <h3 class="mdc-typography--subtitle1">Masonry Image List</h3>
  <ul class="mdc-image-list mdc-image-list--masonry masonry-image-list">
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/16.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/1.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/1.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/2.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/3.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/2.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/4.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/3.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/5.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/4.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/6.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/5.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/2x3/7.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/6.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
    <li class="mdc-image-list__item">
      <img class="mdc-image-list__image" src="https://material-components.github.io/material-components-web-catalog/static/media/photos/3x2/7.jpg" alt="Text label">
      <div class="mdc-image-list__supporting"><span class="mdc-image-list__label">Text label</span></div>
    </li>
  </ul>
</div>
