<div>
  <div class="demo-linear-progress-indicator" data-controller="mdc-linear-progress">
    <h3 class="mdc-typography--subtitle1">Buffered</h3>
    <div role="progressbar" class="mdc-linear-progress ">
      <div class="mdc-linear-progress__buffering-dots"></div>
      <div class="mdc-linear-progress__buffer" style="transform: scaleX(0.75);"></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.5);"><span class="mdc-linear-progress__bar-inner"></span></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar"><span class="mdc-linear-progress__bar-inner"></span></div>
    </div>
  </div>
  <div class="demo-linear-progress-indicator" data-controller="mdc-linear-progress">
    <h3 class="mdc-typography--subtitle1">Indeterminate</h3>
    <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--indeterminate">
      <div class="mdc-linear-progress__buffering-dots"></div>
      <div class="mdc-linear-progress__buffer"></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar"><span class="mdc-linear-progress__bar-inner"></span></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar"><span class="mdc-linear-progress__bar-inner"></span></div>
    </div>
  </div>
  <div class="demo-linear-progress-indicator" data-controller="mdc-linear-progress">
    <h3 class="mdc-typography--subtitle1">Reversed</h3>
    <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--reversed">
      <div class="mdc-linear-progress__buffering-dots"></div>
      <div class="mdc-linear-progress__buffer"></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.5);"><span class="mdc-linear-progress__bar-inner"></span></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar"><span class="mdc-linear-progress__bar-inner"></span></div>
    </div>
  </div>
  <div class="demo-linear-progress-indicator" data-controller="mdc-linear-progress">
    <h3 class="mdc-typography--subtitle1">Reversed Buffered</h3>
    <div role="progressbar" class="mdc-linear-progress mdc-linear-progress--reversed">
      <div class="mdc-linear-progress__buffering-dots"></div>
      <div class="mdc-linear-progress__buffer" style="transform: scaleX(0.75);"></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__primary-bar" style="transform: scaleX(0.5);"><span class="mdc-linear-progress__bar-inner"></span></div>
      <div class="mdc-linear-progress__bar mdc-linear-progress__secondary-bar"><span class="mdc-linear-progress__bar-inner"></span></div>
    </div>
  </div>
</div>
