<div>
  <div>
    <h3 class="mdc-typography--subtitle1">Single-Line</h3>
    <ul class="mdc-list demo-list" data-controller="mdc-list">
      <li class="mdc-list-item mdc-ripple-upgraded" tabindex="0" id="761f5581-dacc-4a4c-93dd-b8608a142a7e">Line item</li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="21157f08-5d3a-48d3-9088-b97c51e6ed6d" tabindex="-1">Line item</li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="4d734953-7403-4de8-8e1f-f37900ebee1f" tabindex="-1">Line item</li>
    </ul>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Two-Line</h3>
    <ul class="mdc-list demo-list mdc-list--two-line" data-controller="mdc-list">
      <li class="mdc-list-item mdc-ripple-upgraded" tabindex="0" id="93693873-3590-4d5c-993c-7506a928d988"><span class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Line item</span><span class="mdc-list-item__secondary-text">Secondary text</span></span></li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="3b809b99-6cfe-451f-b543-3986189d3e8d" tabindex="-1"><span class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Line item</span><span class="mdc-list-item__secondary-text">Secondary text</span></span></li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="78b7da3a-384b-4bf3-88ff-fcf3c17ac886" tabindex="-1"><span class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Line item</span><span class="mdc-list-item__secondary-text">Secondary text</span></span></li>
    </ul>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Leading Icon</h3>
    <ul class="mdc-list demo-list" data-controller="mdc-list">
      <li class="mdc-list-item mdc-ripple-upgraded" tabindex="0" id="52d618cc-7adc-4b22-a325-016fbdeb22b6"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">wifi</span>Line item</li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="0e20e4f8-90e5-448b-8827-209a301be2d6" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">bluetooth</span>Line item</li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="07b48898-b6f8-49a1-8815-db96f850671a" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">data_usage</span>Line item</li>
    </ul>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">List with activated item</h3>
    <ul class="mdc-list demo-list" data-controller="mdc-list">
      <li class="mdc-list-item mdc-ripple-upgraded" id="b8719a53-caee-436c-aa4e-7c967442c336" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">inbox</span>Inbox</li>
      <li class="mdc-list-item mdc-list-item--activated mdc-ripple-upgraded" id="9d9c21a1-c4f8-494f-a745-c0d086a40608" tabindex="-1" aria-selected="true"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span>Star</li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="e8b17acf-da91-4518-b312-fb13f8114fd7" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">send</span>Send</li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="f3abb8b8-a072-4e17-b530-e7a061cac69e" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">drafts</span>Drafts</li>
    </ul>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">List with shaped activated item</h3>
    <ul class="mdc-list demo-list demo-list-item-shaped" data-controller="mdc-list">
      <li class="mdc-list-item mdc-ripple-upgraded" id="b154ed14-2a1a-45fe-8406-b8955e09c1c6" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">inbox</span>Inbox</li>
      <li class="mdc-list-item mdc-list-item--activated mdc-ripple-upgraded" id="f6d1c863-d4e7-4cb3-a1ca-789951bef16c" tabindex="-1" aria-selected="true"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">star</span>Star</li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="777706cc-1613-411b-b570-223fa4d54f6f" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">send</span>Send</li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="9d35c5f7-addb-45d7-bf86-9df865d98730" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">drafts</span>Drafts</li>
    </ul>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Trailing Icon</h3>
    <ul class="mdc-list demo-list" data-controller="mdc-list">
      <li class="mdc-list-item mdc-ripple-upgraded" tabindex="0" id="052e3bc5-aca2-4219-97e3-32277a99abb8">Line item<span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span></li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="5e333c2b-1861-4fed-93eb-f8aed64fb2ec" tabindex="-1">Line item<span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span></li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="6bdc747f-5ff4-4961-be19-a34d13dc67f9" tabindex="-1">Line item<span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span></li>
    </ul>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">Two-Line with Leading and Trailing Icon and Divider</h3>
    <ul class="mdc-list demo-list mdc-list--two-line mdc-list--avatar-list" data-controller="mdc-list">
      <li class="mdc-list-item mdc-ripple-upgraded" tabindex="0" id="54938204-9d25-42fb-9b89-9e4dfb1a056c"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span><span class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Dog Photos</span><span class="mdc-list-item__secondary-text">9 Jan 2018</span></span><span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span></li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="f2e021df-efe3-4257-96c9-923a5dab39f0" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span><span class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Cat Photos</span><span class="mdc-list-item__secondary-text">22 Dec 2017</span></span><span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span></li>
      <li class="mdc-list-divider" role="separator"></li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="5c23efd1-9481-4ad5-a0f5-676b03b82ad7" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span><span class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Potatoes</span><span class="mdc-list-item__secondary-text">30 Noc 2017</span></span><span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span></li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="7ee39861-2bcf-4828-9e3e-cf6feb4d448b" tabindex="-1"><span class="mdc-list-item__graphic material-icons" aria-hidden="true">folder</span><span class="mdc-list-item__text"><span class="mdc-list-item__primary-text">Carrots</span><span class="mdc-list-item__secondary-text">17 Oct 2017</span></span><span class="mdc-list-item__meta material-icons" aria-hidden="true">info</span></li>
    </ul>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">List with Trailing Checkbox</h3>
    <ul class="mdc-list demo-list mdc-list--avatar-list" data-controller="mdc-list">
      <li class="mdc-list-item mdc-ripple-upgraded" tabindex="0" id="0a1838b0-c26a-43f6-80e7-d29cdf2d07a0">
        Dog Photos
        <div class="mdc-checkbox mdc-list-item__meta mdc-checkbox--upgraded mdc-ripple-upgraded mdc-ripple-upgraded--unbounded" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:8px; --mdc-ripple-top:8px;">
          <input type="checkbox" class="mdc-checkbox__native-control" aria-labelledby="0a1838b0-c26a-43f6-80e7-d29cdf2d07a0" tabindex="-1">
          <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
              <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
          </div>
          <div class="mdc-checkbox__ripple"></div>
        </div>
      </li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="2c6bc2bb-c7fd-4f58-8361-f08af8b185cc" tabindex="-1">
        Cat Photos
        <div class="mdc-checkbox mdc-list-item__meta mdc-checkbox--upgraded mdc-ripple-upgraded mdc-ripple-upgraded--unbounded" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:8px; --mdc-ripple-top:8px;">
          <input type="checkbox" class="mdc-checkbox__native-control" aria-labelledby="2c6bc2bb-c7fd-4f58-8361-f08af8b185cc" tabindex="-1">
          <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
              <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
          </div>
          <div class="mdc-checkbox__ripple"></div>
        </div>
      </li>
      <li class="mdc-list-divider" role="separator"></li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="1645e011-9927-4989-a41a-72fd665dcb55" tabindex="-1">
        Potatoes
        <div class="mdc-checkbox mdc-list-item__meta mdc-checkbox--upgraded mdc-ripple-upgraded mdc-ripple-upgraded--unbounded" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:8px; --mdc-ripple-top:8px;">
          <input type="checkbox" class="mdc-checkbox__native-control" aria-labelledby="1645e011-9927-4989-a41a-72fd665dcb55" tabindex="-1">
          <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
              <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
          </div>
          <div class="mdc-checkbox__ripple"></div>
        </div>
      </li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="70277567-42e3-425b-80f9-b77247c1661e" tabindex="-1">
        Carrots
        <div class="mdc-checkbox mdc-list-item__meta mdc-checkbox--upgraded mdc-ripple-upgraded mdc-ripple-upgraded--unbounded" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:8px; --mdc-ripple-top:8px;">
          <input type="checkbox" class="mdc-checkbox__native-control" aria-labelledby="70277567-42e3-425b-80f9-b77247c1661e" tabindex="-1">
          <div class="mdc-checkbox__background">
            <svg class="mdc-checkbox__checkmark" viewBox="0 0 24 24">
              <path class="mdc-checkbox__checkmark-path" fill="none" stroke="white" d="M1.73,12.91 8.1,19.28 22.79,4.59"></path>
            </svg>
            <div class="mdc-checkbox__mixedmark"></div>
          </div>
          <div class="mdc-checkbox__ripple"></div>
        </div>
      </li>
    </ul>
  </div>
  <div>
    <h3 class="mdc-typography--subtitle1">List with Trailing Radio Buttons</h3>
    <ul class="mdc-list demo-list mdc-list--avatar-list" data-controller="mdc-list">
      <li class="mdc-list-item mdc-ripple-upgraded" tabindex="0" id="5f513678-3894-4477-99c6-c61287f2c7ce">
        Dog Photos
        <div class="mdc-radio mdc-list-item__meta mdc-ripple-upgraded mdc-ripple-upgraded--unbounded" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:8px; --mdc-ripple-top:8px;">
          <input class="mdc-radio__native-control" type="radio" name="listDemoRadioGroup" aria-labelledby="5f513678-3894-4477-99c6-c61287f2c7ce" checked="" tabindex="-1">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple"></div>
        </div>
      </li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="a57c6b21-8565-4601-ba95-517888b9cb39" tabindex="-1">
        Cat Photos
        <div class="mdc-radio mdc-list-item__meta mdc-ripple-upgraded mdc-ripple-upgraded--unbounded" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:8px; --mdc-ripple-top:8px;">
          <input class="mdc-radio__native-control" type="radio" name="listDemoRadioGroup" aria-labelledby="a57c6b21-8565-4601-ba95-517888b9cb39" checked="" tabindex="-1">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple  "></div>
        </div>
      </li>
      <li class="mdc-list-divider" role="separator"></li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="d7ac50cf-5cfc-47b3-8076-04314176f4db" tabindex="-1">
        Potatoes
        <div class="mdc-radio mdc-list-item__meta mdc-ripple-upgraded mdc-ripple-upgraded--unbounded" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:8px; --mdc-ripple-top:8px;">
          <input class="mdc-radio__native-control" type="radio" name="listDemoRadioGroup" aria-labelledby="d7ac50cf-5cfc-47b3-8076-04314176f4db" checked="" tabindex="-1">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple  "></div>
        </div>
      </li>
      <li class="mdc-list-item mdc-ripple-upgraded" id="6baf3cb0-ce16-40de-a65a-c7749d00f9da" tabindex="-1">
        Carrots
        <div class="mdc-radio mdc-list-item__meta mdc-ripple-upgraded mdc-ripple-upgraded--unbounded" style="--mdc-ripple-fg-size:24px; --mdc-ripple-fg-scale:1.66667; --mdc-ripple-left:8px; --mdc-ripple-top:8px;">
          <input class="mdc-radio__native-control" type="radio" name="listDemoRadioGroup" aria-labelledby="6baf3cb0-ce16-40de-a65a-c7749d00f9da" checked="" tabindex="-1">
          <div class="mdc-radio__background">
            <div class="mdc-radio__outer-circle"></div>
            <div class="mdc-radio__inner-circle"></div>
          </div>
          <div class="mdc-radio__ripple  "></div>
        </div>
      </li>
    </ul>
  </div>
</div>