<div>
  <div>
    <div class="ripple-demos">
      <div class="ripple-demo-col">
        <h3 class="mdc-typography--subtitle1">Bounded Ripple</h3>
        <div tabindex="0" class="ripple-demo-box mdc-ripple-surface" data-controller="mdc-ripple">Interact with me!</div>
      </div>
    </div>
  </div>
  <div>
    <div class="ripple-demos">
      <div class="ripple-demo-col">
        <h3 class="mdc-typography--subtitle1">Unbounded Ripple</h3>
        <div tabindex="0" class="ripple-demo-icon mdc-ripple-surface material-icons mdc-ripple-radius-unbounded" data-mdc-ripple-is-unbounded  data-controller="mdc-ripple">favorite</div>
      </div>
    </div>
  </div>
  <div>
    <div class="ripple-demos">
      <div class="ripple-demo-col">
        <h3 class="mdc-typography--subtitle1">Theme Colors: Primary</h3>
        <div tabindex="0" class="ripple-demo-box mdc-ripple-surface ripple-demo-box--primary" data-controller="mdc-ripple">Primary</div>
      </div>
    </div>
  </div>
  <div>
    <div class="ripple-demos">
      <div class="ripple-demo-col">
        <h3 class="mdc-typography--subtitle1">Theme Colors: Secondary</h3>
        <div tabindex="0" class="ripple-demo-box mdc-ripple-surface ripple-demo-box--secondary" data-controller="mdc-ripple">Secondary</div>
      </div>
    </div>
  </div>
</div>
