<div class="flex">
  <div data-controller="mdc-snackbar">
    <%= render(Arara::ButtonComponent, variant: "raised", content: "Baseline", data: { target: 'mdc-snackbar.button', action: "click->mdc-snackbar#openSnackbar"}, class: "snackbar-demo-button") %>
    <div class="mdc-snackbar" data-target="mdc-snackbar.snackbar">
      <div class="mdc-snackbar__surface">
        <div class="mdc-snackbar__label" role="status" aria-live="polite">Can't send photo. Retry in 5 seconds.</div>
        <div class="mdc-snackbar__actions">
          <button type="button" class="mdc-button mdc-snackbar__action">
            <div class="mdc-button__ripple"></div>
            <div class="mdc-button__label">Retry</div>
          </button>
          <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
        </div>
      </div>
    </div>
  </div>

  <div data-controller="mdc-snackbar">
    <%= render(Arara::ButtonComponent, variant: "raised", content: "Leading", data: { target: 'mdc-snackbar.button', action: "click->mdc-snackbar#openSnackbar"}, class: "snackbar-demo-button") %>
    <div class="mdc-snackbar mdc-snackbar--leading" data-target="mdc-snackbar.snackbar">
      <div class="mdc-snackbar__surface">
        <div class="mdc-snackbar__label" role="status" aria-live="polite">Your photo has been archived.</div>
        <div class="mdc-snackbar__actions">
          <button type="button" class="mdc-button mdc-snackbar__action">
            <div class="mdc-button__ripple"></div>
            <div class="mdc-button__label">Undo</div>
          </button>
          <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
        </div>
      </div>
    </div>
  </div>

  <div data-controller="mdc-snackbar">
    <%= render(Arara::ButtonComponent, variant: "raised", content: "Stacked", data: { target: 'mdc-snackbar.button', action: "click->mdc-snackbar#openSnackbar"}, class: "snackbar-demo-button") %>
    <div class="mdc-snackbar mdc-snackbar--stacked" data-target="mdc-snackbar.snackbar">
      <div class="mdc-snackbar__surface">
        <div class="mdc-snackbar__label" role="status" aria-live="polite">This item already has the label "travel". You can add a new label.</div>
        <div class="mdc-snackbar__actions">
          <button type="button" class="mdc-button mdc-snackbar__action">
            <div class="mdc-button__ripple"></div>
            <div class="mdc-button__label">Add a new label</div>
          </button>
          <button class="mdc-icon-button mdc-snackbar__dismiss material-icons" title="Dismiss">close</button>
        </div>
      </div>
    </div>
  </div>
</div>
