<div>
  <h3 class="mdc-typography--subtitle1">Switch</h3>
  <div class="switch-demo">
    <span>
      <%= render(Arara::SwitchComponent, id: "Switch-switch") %>
      <label for="Switch-switch">off/on</label>
      <br />
      <br />
      <%= render(Arara::SwitchComponent, id: "Switch-switch2", checked: true) %>
      <label for="Switch-switch">off/on</label>
      <br />
    </span>
  </div>
</div>
