<%= content_tag(html_tag, html_options) do %>
  <%= tag("input", html_input_options) %>
  <div class="mdc-radio__background">
    <div class="mdc-radio__outer-circle"></div>
    <div class="mdc-radio__inner-circle"></div>
  </div>
  <div class="mdc-radio__ripple"></div>
<% end %>
