<%= content_tag(html_tag, html_options) do %>
  <div class="mdc-switch__track"></div>
  <div class="mdc-switch__thumb-underlay">
    <div class="mdc-switch__thumb">
      <%= tag("input", input_options) %>
    </div>
  </div>
<% end %>
